<div class="navbar bg-base-100 shadow-sm">
  <div class="flex-1">
    <a href="/" class="btn btn-ghost text-xl">Beauty Nail</a>
  </div>
  <div class="flex gap-2">
    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
          <img alt="Tailwind CSS Navbar component" src="https://cdn-icons-png.flaticon.com/512/8639/8639414.png" />
        </div>
      </div>
      <ul3 tabindex="0" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
        {% if user.is_authenticated %}
        <li>
          <a class="justify-between" href="#">
            Hi, {{ user.username }}
            <span class="badge">Logged In</span>
          </a>
        </li>
        <li><a href="{% url 'profile' %}">My Profile</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
        <li><span>Design</span></li>
        <li><a href="{% url 'login' %}">Login</a></li>
        {% endif %}


        </ul>
    </div>
  </div>
</div>
